<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginScript</servlet-name>
        <servlet-class>com.webapp.mainscripts.LoginScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexScript</servlet-name>
        <servlet-class>com.webapp.mainscripts.IndexScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterScript</servlet-name>
        <servlet-class>com.webapp.mainscripts.RegisterScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditScript</servlet-name>
        <servlet-class>com.webapp.mainscripts.AccountEditScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDelete</servlet-name>
        <servlet-class>com.webapp.mainscripts.AccountDeleteScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>com.webapp.mainscripts.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSession</servlet-name>
        <servlet-class>com.webapp.mainscripts.DeleteSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>com.webapp.postscripts.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPostController</servlet-name>
        <servlet-class>com.webapp.postscripts.AdminPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>com.webapp.postscripts.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostController</servlet-name>
        <servlet-class>com.webapp.postscripts.NewPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostEditController</servlet-name>
        <servlet-class>com.webapp.postscripts.PostEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDeletionController</servlet-name>
        <servlet-class>com.webapp.postscripts.PostDeletionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginScript</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexScript</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterScript</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditScript</servlet-name>
        <url-pattern>/acedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDelete</servlet-name>
        <url-pattern>/acdel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSession</servlet-name>
        <url-pattern>/ds</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>AdminPostController</servlet-name>
        <url-pattern>/adminpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostController</servlet-name>
        <url-pattern>/newpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEditController</servlet-name>
        <url-pattern>/editpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDeletionController</servlet-name>
        <url-pattern>/deleteposts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
